@model Pie

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <!-- remember...Model is available to us and stores whatever is passed into the partial (in this case an instance of Pie, as defined in line 1)-->
        <img src="@Model.ImageThumbnailUrl" alt="" />
        <div class="caption">
            <h3 class="pull-right">@Model.Price.ToString("C")</h3>
            <h3>
                <!-- the following a tag has tag helpers which are brought in through _ViewImports. These are processed server side to allow for routing to the appropriate controller, action, and any additional params (in this case 'id')-->
                <a asp-controller="Pie" asp-action="Details" asp-route-id="@Model.PieId">@Model.Name</a>
            </h3>
            <p>@Model.ShortDescription</p>
        </div>
        <div class="addToCart">
            <p class="button">
                <a class="btn btn-primary"
                   asp-controller="ShoppingCart"
                   asp-action="AddToShoppingCart"
                   asp-route-pieId="@Model.PieId">Add to Cart</a>
            </p>
        </div>
    </div>
</div>